.btn {
  border: none;
  background-color: $button-bgcolor;
  box-shadow: $button-shadow;
  user-select: none;

  @include button-states($button-bgcolor);

  &.btn-squared {
    border-radius: 0px;
  }

  &.btn-block {
    display: block;
    width: 100%;
  }

  @each $theme, $color in $themes {
    &-#{$theme} {
      background-color: $color;
      color: $foreground;

      @include button-states($color);
    }
  }

  @each $size in $element-sizes {
    &-#{$size} {
      padding: map-get($element-paddings, $size);
      font-size: map-get($element-texts, $size);
      border-radius: map-get($el-border-radiuses, $size);
    }
  }
}
