.btn {
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    box-shadow: none;
  }

  &.btn-squared {
    border-radius: 0px;
  }
  &.btn-block {
    display: block;
    width: 100%;
  }

  @each $theme, $color in $themes {
    &-#{$theme} {
      background-color: $color;
      color: $foreground;

      &.active:not(:disabled) {
        background-color: saturate($color, 20);
      }

      &:disabled {
        background-color: desaturate($color, 17);
      }
    }
  }

  @each $size in $element-sizes {
    &-#{$size} {
      padding: map-get($element-paddings, $size);
      font-size: map-get($element-texts, $size);
      border-radius: map-get($el-border-radiuses, $size);
    }
  }
}
