$element-paddings: (
  small: 4px,
  normal: 6px,
  big: 10px,
);

$element-sizes: map-keys(
  $map: $element-paddings,
);

$element-texts: (
  small: 12px,
  normal: 14px,
  big: 18px,
);

$el-border-radiuses: (
  small: 4px,
  normal: 6px,
  big: 8px,
);

$input-font-sizes: (
  small: 14px,
  normal: 16px,
  big: 20px,
);

$input-paddings: (
  small: 6px,
  normal: 8px,
  big: 10px,
);

$input-border-width: 1px;
$input-border-width--highlight: 1.5px;
