$element-paddings: (
  small: 4px,
  normal: 6px,
  big: 10px,
);

$element-sizes: map-keys(
  $map: $element-paddings,
);

$element-texts: (
  small: 12px,
  normal: 14px,
  big: 18px,
);

$el-border-radiuses: (
  small: 4px,
  normal: 6px,
  big: 8px,
);
