// $paddings: ("small": 4px, "normal": 6px, "big": 10px);
$padding-small: 4px;
$padding-normal: 6px;
$padding-big: 10px;

$element-text-small: 12px;
$element-text-normal: 14px;
$element-text-big: 18px;

$border-radius-small: 4px;
$border-radius-normal: 6px;
$border-radius-big: 8px;
