$primary: #218ec0;
$primary-foreground: #222;
$foreground: #ffffff;
$positive: #35bb60;
$negative: #dd1010;
$warning: #e9a300;

$themes: (
  primary: $primary,
  positive: $positive,
  negative: $negative,
  warning: $warning,
);

$sizes: ("small", "normal", "big");
