.margins {
  & > * {
    margin: 0px 4px 10px 4px;
  }
}

.example {
  @extend .margins;
  padding: 12px;
  background-color: #eeeeee;
  border-radius: 8px;
  margin-bottom: 12px;

  & > * {
    margin: 0px 4px 10px 0px;
  }
  & h2 {
    padding-left: 6px;
  }
}
